@font-face {
    font-family: Gilory-bold;
    src: url("fonts/Gilroy-Bold.woff");
}

@font-face {
    font-family: Gilory-medium;
    src: url("fonts/Gilroy-Medium.woff");
}
.header{
    text-align: center;
}
.header p{
    font-family: Gilory-bold;
    display: inline-flex;
    margin-right: 100px;
    color: gray;
}
.header p:hover{
    color: black;
}
#line{
    text-align: center;
    margin-right: 100px;
}
#FIO{
    font-family: Gilory-bold;
    text-align: center;
    font-size: 30px;
    margin-right: 700px;
}
#JOB{
    text-align: center;
    margin-right: 50px;
    font-family: Gilory-medium;
    font-size: 15px;
}
#denis_photo{
    display: block;
    margin-left: auto;
    padding-right: 50px;
    margin-right: auto;
    width: 750px;
}
.about_me_block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F6F6F6;
    width: 1600px;
    height: 506px;
}
#about_me{
    font-family: Gilory-bold;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 100px;
    right: 50px;
}
#description{
    font-family: Gilory-medium;
    text-align: center;
    position: relative;
    top: 150px;
    right: 50px;
}
#skills_header{
    font-family: Gilory-bold;
    font-size: 40px;
    text-align: center;
}
#work-such-programs{
    font-family: Gilory-medium;
}
.skills{
    text-align: center;

}
.skills img{
    height: 200px;
    margin: 100px;
}
.portfolio{
    text-align: center;
}
#portfolio_header{
    font-family: Gilory-bold;
    font-size: 40px;
    text-align: center;
}
.portfolio img{
    margin-bottom: 40px;
}
.pics-description{
    text-decoration: unset;
    text-decoration: underline;
    font-family: Gilory-medium;
    font-size: 20px;
    margin-bottom: 80px;
}
.contacts{
    margin-top: 500px;
    text-align: center;
    font-family: Gilory-medium;
    font-size: 20px;

}
#contacts_header{
    font-family: Gilory-bold;
    font-size: 40px;
    text-align: center;
}
button{
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: black;
    border-radius: 30px;
    font-family: Gilory-bold;
    height: 60px;
}
.footer{
    text-align: center;
}
.footer img{
    margin-top: 80px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer img:last-of-type{
    margin-right: 0px;
}
.footer p{
    margin-top: 30px;
    font-family: Gilory-medium;
    color: gray;
}
/*В хрмое че
margin-right: 40px;рез консоль вmargin: 0;
font-size: 6px;pro, разрешение для него сделал*/
@media (max-width: 400px)  {
    .header p{
        margin: 0 40px 0 0;
        font-size: 6px;
    }
    #denis_photo{
        width: 400px;
    }
    #FIO{
        font-size: 15px;
    }
    #JOB{
        font-size: 7px;
    }
    #about_me{
        font-size: 10px;
    }
    .about_me_block{
        height: 200px;
    }
    .about_me_text{
        position: relative;
        font-size: 7px;
        right:570px;
        bottom: 80px;
    }
    #skills_header{
        font-size: 10px;
        margin-top: 100px;
    }
    .skills img{
        margin: 5px;
        width: 50px;
        height: 60px;
    }
    #work-such-programs{
        font-size: 7px;
    }
    #portfolio_header{
        font-size: 10px;
    }
    .portfolio img{
        width: 400px;
    }
    .pics-description{
        font-size: 8px;
    }
    #contacts_header{
        font-size: 10px;
    }
    .contacts p{
        font-size: 10px;
    }
    .footer p{
        font-size: 10px;
    }

    .footer img{
        height: 20px;
        width: 20px;
        margin: 20px 10px 0 0;
    }
    button{
        font-size: 8px;
        width: 100px;
        height: 25px;
    }
}