body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}
     
a {
    color: #156963;
    font-weight: 400;
}
         

/* ---------------------------container--------------- */
.container {
    padding: 20px 0px 20px 0px;
    font-weight: 400;
    overflow: hidden;
    width: 70%;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
	margin: 1% 15%
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 120%;
}

#new_form {
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
}
     
.container form .input,
.container input[type=text],
.container input[type=number],
textarea{
    background: #fbfbfb;
    font-size: 110%;
    line-height: 1.5;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus,
textarea:focus {
    border: 1px solid #156963;
    -webkit-box-shadow: 0 0 3px 0 #156963;
    -moz-box-shadow: 0 0 3px 0 #156963;
    box-shadow: 0 0 3px 0 #156963;
}

/* ----------------------button------------------------- */
.button{
    border: solid 1px #156963;
    background: #156963;
    background: -webkit-gradient(linear, left top, leftbottom, from(#59d6ce), to(#1b756f));
    background: -moz-linear-gradient(top,  #59d6ce, #1b756f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#59d6ce', endColorstr='#1b756f');
    color: #fff;
    padding: 13px 30px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float: right;
    cursor: pointer;
	font-size: 120%;
}
         
.button:hover{
    background: #028a81;
    background: -webkit-gradient(linear, left top, leftbottom, from(#59d6ce), to(#1b756f));
    background: -moz-linear-gradient(top,  #59d6ce, #1b756f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#59d6ce', endColorstr='#1b756f');
}
