
.featured-plants{
    padding-bottom: 1%;
    margin: auto 5% 2% 5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    overflow-x: hidden;

}

.heading-featured-plants{
    margin-left: 44%; 
    font-weight: 500;
    font-size: 170%;
    line-height: 80%;
    color: #000000;
}

.all-featured-plants{
    margin: 0 5% 5% 5%;
    display: flex;
    justify-content: space-around;
}


.name-plant{
    font-size: 110%;
    line-height: 95%;
    text-align: center;
    color: #000000;
    padding-top: 10%;
    padding-bottom: 4% ;
}

.price{
    font-weight: 600;
    font-size: 110%;
    line-height: 80%;
    text-align: center;
    color: #000000;
}

@media(max-width: 1100px){
    .heading-featured-plants{
        margin-left: 39%; 
    }
    .box-plant img {
        margin-left: 3%;
        width: 90%;
        
    }
}

@media(max-width: 900px){
    .heading-featured-plants{
       text-align: center;

    }
    .all-featured-plants{
        flex-direction: column; 
    }

    .box-plant {
        margin-left: 30%;
    }

    .box-plant img {
        margin-left: 10%;
        width: 45%;
        
    }

    .name-plant {
        width:45%;
        padding: 3% 10%;
    }

    .price{
        width:45%;
        padding: 0 0 7% 10%;
   
    }

}
@media (max-width: 780px) {
    .heading-featured-plants{
        font-size: 130%;
        margin-left: 35%; 
    }

    .box-plant img {
        margin-left: 13%;
        width: 37%;  
    }

    .name-plant {
        width:47%;
        font-size: 80%;
        padding: 3% 8%;

    }

    .price{
        width:47%;
        font-size: 80%;
        padding: 0 0 7% 8%;

    }
    
}

@media (max-width: 500px) {

    .heading-featured-plants{
        font-size: 120%;
        margin-left: 30%; 
    }

    .box-plant img {
        margin-left: 3%;
        width: 60%;  
    }

    .name-plant {
        padding: 3% 10%;

    }

    .price{
        padding: 0 0 5% 10%;
    }
    
    
}
